body {
  background-image: url("razones-para-estudiar-ingenieria-de-sistemas-1200x628.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}